.fotos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 8rem auto 0 auto;
    gap: 2rem;
    min-height: 70vh;
    padding: 3rem 1rem;
    background-color: #1f1f1f20;
    overflow: hidden;
}

h3 {
    max-width: 70%;
}

.visuals {
    position: relative;
}

.luna {
    max-width: 50px;
    position: absolute;
    top: -6rem;
    left: -2.5rem;
}

.estrella1 {
    max-width: 90px;
    position: absolute;
    top: -5rem;
    left: -12rem;
}

.estrella2 {
    max-width: 95px;
    position: absolute;
    top: -5rem;
    left: 6rem;
}

.flecha {
    position: absolute;
    max-width: 100px;
    left: -5rem;
    top: 12rem;
}

.fotos-btn {
    width: auto;
    padding: .5rem 2rem !important;
}